<div class="table-responsive">
<table class="table">
	<thead>
		<tr>
			<th>Url</th>
			<th>Visits</th>
			<th>Shortened Url</th>
		</tr>
	</thead>
	<tbody>
		<% @links.each do |link| %>
		<tr>
	  		<td><%= link.original_url %></td>
	  		<td><%= link.visitors_count %></td>
	  		<td><%= link_to link.shortened_url, :controller => :visitors, :action => :show, :id => link.id %></td>
		</tr>
		<% end %>
	</tbody>
</table>
</div>